body {
	background-image: url(../css/background.jpg);
	background-size: 1800px 900px;
}
h1 {
	color: white;
    padding: 5px 10px;
    font-family: Optima, sans-serif;
    border: 3px outset silver;
    background-color: lightblue;
}
h2 {
	
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	width: 50%;
	height: 100px;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: gray;
	position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}