body {
	background-image: url(../css/background.jpg);
	background-size: 1800px 900px;
}
h1 {
	font-size: 3em;
	font-weight: bold;
	color: white;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: gray;
}
h2 {
	
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	width: 50%;
	height: 100px;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: gray;
	position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
}